 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
   font-size: 16px;
}
html,
body {
  height: 100%;
  width: 100%;
  /* font-size: 16px; */
}


/* Header wrapper */
header {
  background-color: black;
  
}



/* Navbar */
.navbar {
  /* border: 2px solid red; */

  display: flex;
  
  justify-content: space-between; /* spreads logo and links */
  
  align-items: center;

  padding: 16px 132px; 
  /* padding to add space inside the navbar element */
  width: 100%;

  position: sticky; /* sticks at top while inside .home */
  top: 0;
  
  
  background-color: black;
  z-index: 1000; 
  /* z index sets priority, high no = high priority */


}



/*  */
.home {
  position: relative; /* sticky parent boundary */
  height: 100vh;
  background-image: url("./Getty-Images-Loong-Kae-Chong-EyeEm-northern-lights.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* NAVBAR */
.navbar {

}

/* -------logo---------- */

.logo {
  color: white;
  
  /* border: 2px green solid; */

  font-size: 2rem;  
  font-weight: 700;
}
/* -----------------logo end-------------- */



/* Navigation links */
.links {
  /* border: 6px blue solid; */


  font-size: 1rem;
  display: flex;
  gap: 3rem;
  /* justify-content: space-between; why gap nai use garna paryo, align items kina kaam garena ? */ 
}

/* Anchor styling */
.links a {
  text-decoration: none;
  /* text decoration none removes blue colored link properties */
  color: white; 
}



/* NOW going to  sections!!  */

.home{
  background-image:url("./Getty-Images-Loong-Kae-Chong-EyeEm-northern-lights.png");
  height: 100vh; 

  background-size: cover;  
  /* cover le occupies screen realestate left to right and top to bottom of applied section */
  background-repeat: no-repeat;
  /* avoids repeating of image to adjust specified dimension */

}
--------------------------------------------------



/* 4. Sections */
.home {
  position: relative;  /* make child absolute positioning relative to this */
  
  background-image: url("./Getty-Images-Loong-Kae-Chong-EyeEm-northern-lights.png");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
 
}



/* placing texts over background image */
.hero {
  
  
  height: 400px;      /* any height you want */
  background-image: url('your-image.jpg');
  background-size: cover;
  background-position: center;
 
}

.hero h1, .hero p {
  position: absolute;  /* place text over image */
  color: white;        /* make it visible */
  
}

.hero h1 {
  
  bottom: 40%;
  left: 33%;
  font-size: 3rem;
  
}

.hero p {
  bottom: 30%;
  left: 39%;
  font-size: 2rem;
}

.btn1{

  position: absolute;
  bottom: 20%;
  left: 45%;
  
  border: 1px solid rgb(46, 116, 163);
  background-color:  rgb(46, 116, 163);
  border-radius: 20px;
  padding: 10px;
  color: white;
}



/* aboutme section */
.aboutme {
    background-color: #fdf5e6;
  
  
}

.aboutme h2{
  font-size: 2rem;
  color:rgb(46, 116, 163);

  text-align: center;
  /* text-align works for block elements! */
  padding: 40px;
}

.aboutcontent{
  display: flex;
  color:rgb(46, 116, 163);
  justify-content: center;
  /* align-items: center; */
  gap: 3rem;
  padding: 29px;
}

/*  about me section over!!*/


/*skills section */
.skills {
    background-color: #fdf5e6;
  
}

.skills h2{
  font-size: 2rem;
  color:rgb(46, 116, 163);

  text-align: center;
  /* text-align works for block elements! */
  padding: 40px;
}


/* Services section */
.services {
    background-color: #fdf5e6;
  
}

.services h2{
  font-size: 2rem;
  color:rgb(46, 116, 163);

  text-align: center;
  /* text-align works for block elements! */
  padding: 40px;
}

.servicescontent{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 1px 20px;
}

.servicebox{
  
  background-color: white;
  border: 2px black solid;
  padding: 20px;
  color:rgb(46, 116, 163);
  border-radius: 12px;
  line-height: 30px;
  
}

/* portfolio section */
.portfolio{  background-color: #fdf5e6;}

.portfolio h2{
  font-size: 2rem;
  color:rgb(46, 116, 163);

  text-align: center;
  /* text-align works for block elements! */
  padding: 40px;
}


.portfoliocontent{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  margin: 1px 20px;
}

.portfoliobox{
  
  background-color: white;
  border: 2px black solid;
  padding: 20px;
  color:rgb(46, 116, 163);
  border-radius: 12px;
  line-height: 30px;
  
}

.portfoliobox img {

  /* used gpt for thisss! */
    width: 100%;         /* Fill the width of the box */
    height: 200px;       /* Set your desired height here */
    object-fit: cover;   /* This prevents the photo from looking "stretched" */
}

/* testimonial sections */


.testimonials{  background-color: #fdf5e6;}

.testimonials h2{
  color:rgb(46, 116, 163);
  font-size: 2rem;
  text-align: center;
  /* text-align works for block elements! */
  padding: 40px;
}

.testimonials-statements{
  
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.statements{
  color:rgb(46, 116, 163);
  background-color: white;
  width: 49%;
  padding: 20px;
  border-radius: 5px;

  border-left: 5px solid green;  
}

/* contact section */

.contact{
  background-color: #fdf5e6;
padding-bottom: 30px;}

.contact h2{
  color:rgb(46, 116, 163);
  font-size: 2rem;

  text-align: center;
  /* text-align works for block elements! */
  padding: 40px;
}


/* This is the white card */
.inputcontainer{
  
  background-color: white;
 
    padding: 40px;       
  /* Adds space inside the white box */
   margin: 0 auto; /* Centers the white box horizontally */
  border-radius: 15px;
   width: 700px;
}




.inputcontainer form{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
   width: 100%;  
   
}


/* gemini for contact */
.contact {
  background-color: #fdf5e6; /* A soft beige similar to your screenshot */
 
  text-align: center;
}


/* Style for all text fields */
.inputcontainer input, 
.inputcontainer textarea {
   width: 100%; 
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  
}

/* footer section */
.tail{
  background-color: black;
  height: 3rem;
  text-align: center;
}

.tail p{
  color: white;
}

.socials a{
  color:whitesmoke;
  margin: 1px;
}


